.topnav {
  position: sticky;
  top: 0;
  padding: 20px 15px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  background-color: var(--main-bg);
  z-index: 3;
  .topnav__right {
    display: flex;
    align-items: center;
    .topnav__right-item ~ .topnav__right-item {
      margin-left: 30px;
    }
  }
}

.menu {
  width: 65px;
  // height: 45px;
}

.span {
  display: block;
  position: absolute;
  top: 35px;
  left: 18px;
  right: 18px;
  width: 45px;
  height: 8px;
  background: gray;
  transition: transform 0.3s cubic-bezier(0.1, 0.3, 0.5, 1);
}

.span::before,
.span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: gray;
  content: "";
  transition: transform 0.3s cubic-bezier(0.1, 0.3, 0.5, 1);
  transition: opacity 0.1s linear;
}

.span::before {
  transform: translateY(-15px);
}

.span::after {
  transform: translateY(15px);
}

.fold::before {
  transform: translateY(0px);
  transform: rotate(-90deg);
}

.fold::after {
  opacity: 0;
}

.fold {
  transform: rotate(45deg);
}

.search {
  position: relative;
  height: 50px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 20px;
  input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
  }
  i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
  }
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
  i {
    margin-right: 20px;
    font-size: 1.5rem;
  }
}

.notification-item:hover {
  background-color: var(--second-bg);
}

.topnav__right-user {
  display: flex;
  align-items: center;
  .topnav__right-user__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      border-radius: 50% !important;
      width: 100% !important;
    }
  }
  .topnav__right-user__name {
    font-size: 1rem;
    font-weight: 600;
  }
}
