.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
  .topnav__right {
    display: flex;
    align-items: center;
    .topnav__right-item ~ .topnav__right-item {
      margin-left: 30px;
    }
  }
}

.search {
  position: relative;
  height: 50px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 20px;
  input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
  }
  i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
  }
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
  i {
    margin-right: 20px;
    font-size: 1.5rem;
  }
}

.notification-item:hover{
  background-color: var(--second-bg);
}

.topnav__right-user {
  display: flex;
  align-items: center;
  .topnav__right-user__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      border-radius: 50% !important;
      width: 100% !important;
    }
  }
  .topnav__right-user__name{
    font-size: 1rem;
    font-weight: 600;
  }
}
